---
import type { ItemGrid } from '@/types';

const { items = [] } = Astro.props as ItemGrid;
---

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<style>
  .swiper {
    padding: 20px 0 60px;
  }

  .container-link:hover + div > div {
    color: var(--aw-color-primary);
  }
</style>

{
  items && (
    <div class="swiper mySwiper h-96">
      <div class="swiper-wrapper">
        {items.map(({ title, description, link, image }) => (
          <div class="swiper-slide relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] overflow-hidden">
            <div class="h-3/5 overflow-hidden relative container-link">
              <a
                href={link}
                class="w-full h-full flex justify-center items-center hover:scale-125 transition-transform hover:duration-[4s] ease-in hover:ease-out duration-1000"
              >
                <img
                  src={image?.src}
                  alt={image?.alt}
                  class="w-full h-full object-cover"
                />
              </a>
            </div>
            <div class="h-2/5 p-3 overflow-hidden">
              <div class="text-xl font-bold">{title}</div>
              {description && (
                <p
                  class="text-muted mt-1 text-sm whitespace-normal overflow-hidden line-clamp-3"
                  set:html={description}
                />
              )}
            </div>
          </div>
        ))}
      </div>
      <div class="swiper-pagination" />
    </div>
  )
}

<script is:inline>
  window.addEventListener('load', () => {
    new Swiper('.mySwiper', {
      slidesPerView: 3,
      spaceBetween: 50,
      loop: true,
      centerSlide: true,
      fade: true,
      grabCursor: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true,
      },

      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        560: {
          slidesPerView: 2,
        },
        950: {
          slidesPerView: 3,
        },
      },
    });
  });
  document.addEventListener(
    'astro:after-swap',
    new Swiper('.mySwiper', {
      slidesPerView: 3,
      spaceBetween: 50,
      loop: true,
      centerSlide: true,
      fade: true,
      grabCursor: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true,
      },

      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        560: {
          slidesPerView: 2,
        },
        950: {
          slidesPerView: 3,
        },
      },
    })
  );
</script>
